body {
  margin: 0;
}

.sb-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -12px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.sb-title-icon {
  height: 150px;
  width: 150px;
  align-self: center;
  margin-bottom: 20px;
  padding: 0 70px; /* Add padding to the left and right sides */
}

.card-container {
  display: flex;
  height: 346px; /* Adjust the height to fit the new dimensions */
  width: 821px; /* Adjust the width to fit the new dimensions */
  border: 1px solid #fe1368;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
}

.panel {
  background: white;
  width: 410px; /* Adjust the width to fit the new dimensions */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.half-input-container {
  display: flex;
  justify-content: space-between;
}

.half-input {
  max-width: 200px; /* Adjust the max-width to fit the new dimensions */
}

.map {
  width: 410px; /* Adjust the width to fit the new dimensions */
}

h2 {
  margin: 0;
  font-family: Roboto, sans-serif;
}

input {
  height: 30px;
}

input {
  border: 0;
  border-bottom: 1px solid rgb(255, 34, 34);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

input:focus::placeholder {
  color: white;
}

input[type="text"] {
  color: white;
}

.custom-map-control-button {
  background-color: #fe1368;
  border: 0;
  border-radius: 40px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.8em;
  font: 400 14px Roboto, Arial, sans-serif;
  color: #ffffff;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  margin-left: -2em;
  margin-right: 0;
}

.custom-map-control-button:hover {
  background: rgb(0, 0, 0);
}

.panel input[type="text"] {
  background-color: #262626;
}

.panel input[type="text"] {
  border-radius: px;
}

.panel input[type="text"] {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.panel label {
  color: white;
}

.panel input[type="text"]::placeholder {
  color: white;
}

input[type="text"] {
  padding-left: 10px;
}

.button-cta {
  height: 35px;
  width: 100%;
  margin-top: 20px;
  background: #fe1368;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48);
  cursor: pointer;
}

.button-cta {
  /* Your existing button styles */
}

.button-glow {
  animation: glowing 1.5s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #fe1368;
  }
  50% {
    box-shadow: 0 0 20px #fe1368;
  }
  100% {
    box-shadow: 0 0 5px #fe1368;
  }
}
